*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Bauhaus, "Bauhaus", 'Bauhaus';
}

html,body{
	borer: solid red 1px;
	height: 100%;
	background-image:url('../images/fundo.png');
}
/*
@font-face {
	font-family: 'bau';
	src: url("../fonts/BauhausStd-Light.otf");
	src: local("../fonts/BauhausStd-Light.otf");

}*/
@font-face {
    font-family: 'Bauhaus';
    src: url('Bauhaus.woff2') format('woff2'),
    url('Bauhaus.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


.clear{
	clear: both;
}

.center{
	max-width: 1280px;
	width: 250px;
	margin: 0 auto;
	height: auto;
	text-align: center;
	padding-top: 20px;
}
.avatar{
	height: 130px;
	width: 130px;
	background-image: url('../images/avatar.png');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	display: inline-block;
	margin: 0 auto;
}
form{
	margin-top: 20px;
}
.input-container input[type=text],input[type=password]{
	margin-top:7px;
	width: 250px;
	height: 40px;
	border:0;
	background-color: #f7ebd4ff;
	font-size: 18px;
	padding-left: 20px;
}

.bot{
	display: inline-block;
	width: 250px;
	margin-top: 15px;
	bordr: solid red 1px;
	padding: auto;
}
.bot a{
	text-decoration: none;
	padding-top: 5px;
	color: gray;
	display: inline-block;
	boder: solid red 1px;
	height: 30px;
	width: 120px;
	background-color: #f7ebd4ff;
	
}

.jtc{
	display: block;
	width: 250px;
	margin-top: 20px;
}

.jtc a{
	color: gray;
	display: inline-block;
	height: 20px;
	width: 110px;
	background-color: #f7ebd4ff;
	text-decoration: none;
	float: left;
	font-size: 15px;
}

.g5g{
	display: none;
	text-align: center;
	position: absolute;
	margin-top: 400px;
	font-size: 10px;
}

.g{
	margin-top: -8px;
}
/*home*/
.menu{
	display: block;
	margin:auto;
	text-align: center;
	margin: 0;
    position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.menu a{
	text-decoration: none;
	color: black;
}
div.menu h2{
	margin: 20px 0;

}

.ajuda{
	width: 350px;
	padding:10px 20px;
	text-align: justify;
    display: block;
    margin:0 auto;
    background-color: #f7ebd4ff;
    text-indent: 10px;
}
.ajuda h3,h4{
	margin:20px 15px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f7ebd4ff;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e2ba69ff; 
  border-radius: 10px;
}

.avatar2{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-image: url('../images/avatar.png');
	background-repeat: no-repeat;
	background-size: cover;

}

.center2{
	display: block;margin:auto; /*mudei aqui*/
	max-width: 350px;
	height: 100%;
	width: auto;
	margin: 0 auto;
	height: auto;
	padding: 20px 10px;
}
.center p{
	text-align: center;
}

.est p{
	margin:10px 0;
}

	display: block;
	margin:auto;
	text-align: justify;
	margin: 0;
    position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);








@media screen and (max-width:500px){
	.g{
	margin-top: auto;
}
	.input-container input[type=text],input[type=password]{
	padding-top: 5px;
	padding-left: 20px;
}
.bot a{
	text-decoration: none;
	padding-top: 8px;
}
.jtc a{
	color: gray;
	padding-top: 3px;
}

}